<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page still need adding to </title>
</head>

<body>
    <header>
        <h1> HOME testing   </h1>
    </header>
    
    <dic class='navbar'>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/signup'>Sign up</a></li>
            <li><a href='/signin'>sign in</a></li>
        </ul>
    </dic>
</body>
</html>
