<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing up</title>
</head>
<body>
    <header>
        <h1> SIGN UP </h1>
    </header>
    
    <dic class='navbar'>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/'>About</a></li>
            <li><a href='/'>Sign up</a></li>
            <li><a href='/'>sign in</a></li>
        </ul>
    </dic>
    
</body>
</html>