<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV File</title>
    <link rel="stylesheet" href="static/style.css">
    <div class="back-home">
        <a href="/" class="back-home-button">← Back to Home</a>
    </div>
</head>
<body>
    <h2>Upload CSV File</h2>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
